body {
  background: linear-gradient(#c7e1fc, #ffffff); 
  color: #000000;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

header {
  margin-bottom: 40px; /* Adicionando margem inferior */
  background-color: rgba(70,130,180);
  padding: 15px;
  text-align: center;
  color: #ffffff;
}



h1 {
  text-align: center;
  margin-top: 15px;
  font-size: 30px;
  color: #ffffff;
}

form {
  display: flex;
  justify-content: center;
}

input[type="text"] {
  padding: 10px;
  width: 32.5em;
  border: none;
  border-radius: 20px;
  background-color: rgb(70,130,180);
  font-size: 16px;
  color: #ffffff;
}

input[type="text"]::placeholder {
  color: rgba(255, 255, 255, 0.6); /* Define a cor mais clara para o placeholder */
}


ul {
  list-style: none;
  margin: 20px auto;
  padding: 1em;
  max-width: 32em;
  background-color: rgba(187, 187, 202, 0.433);
  border-radius: 20px;
  margin-bottom: 80px; /* Adicionando margem inferior */
}

p {
  font-size: 20px;
  color: white;
  padding: 12px;
  text-align: center;
  background-color: rgb(70,130,180);
  border: #fefefe solid;
  width: 26em;
  margin: 0 auto;
  border-radius: 20px;
  margin-top: 10px;


}

input#salvar {
  background-color: rgb(7, 176, 7);
  border-radius: 5px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(70,130,180);
  color: white;
  border-radius: 12px;
  padding: 10px;
  margin: 5px 0;
}

a.format {
  color: #fdf1f1;
  font-size: 1.5em;
  text-decoration: none;
}

button.remover {
  background-color: rgb(235, 87, 87);
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  border-radius: 8px;
}


button.atualizar {
  background-color: rgb(16, 190, 48);
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  border-radius: 8px;
}

.button-container {
  margin-left: 15px;
}

header {
  margin-bottom: 40px; /* Adicionando margem inferior */
}

footer {
  position: fixed;
  bottom: 0;
  background-color: rgb(70,130,180);
  padding: 20px;
  text-align: center;
  width: 100%;
  color: rgb(253, 253, 253);
}
